* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.game-over {
    font-size: 2rem;
    font-weight: 800px;
    color: #0a0a0a;
    background: #d3d3d3;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 1;
}

.points {
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: #353535;
    color: #d3d3d3;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.board {
    width: 400px;
    height: 450px;
    background: #252525;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 2px;
}
.snake {
    background: blue;
    border-radius: 6px;
}
.snakehead {
    position: relative;
}
.snake .eye {
    background-color: white;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
}
.food {
    background: green; 
    border-radius: 4px;
}
